@font-face {
  font-family: Bold;
  src: url("../fonts/IBMPlexSans-Bold.ttf") format('truetype');
}
@font-face {
  font-family: Regular;
  src: url("../fonts/IBMPlexSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: SemiBold;
  src: url("../fonts/IBMPlexSans-SemiBold.ttf") format('truetype');
}