@font-face {
  font-family: forText;
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: forTitles;
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: forSubText;
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

