@mixin XS {
  @media screen and (min-width: 320px) {
    @content
  }
}
@mixin SM {
  @media screen and (min-width: 576px) {
    @content
  }
}
@mixin MD {
  @media screen and (min-width: 768px) {
    @content
  }
}
@mixin LG {
  @media screen and (min-width: 992px) {
    @content
  }
}
@mixin XL {
  @media screen and (min-width: 1200px) {
    @content
  }
}
@mixin XXL {
  @media screen and (min-width: 1400px) {
    @content
  }
}
@mixin setFont ($family: forText, $lh: false, $fs: false) {
  font-family: $family;
  @if $lh {line-height: $lh};
  @if $fs { font-size: $fs};
}